$gradient-color: radial-gradient( circle 929px at 0.6% 1.3%, rgba(248, 251, 10, 1) 0%, rgba(248, 47, 47, 1) 82.6%);
$primary-color: #6600ff;
$primary-color-muted: #dec7ff;
$primary-color2: #854fee;
$title-color: #141313;
$text-color: #777777;
$border-color: #201f1f17;
$light-grey: #e6e6e6;