nav a {
  background: radial-gradient(circle 929px at 0.6% 1.3%, #f8fb0a 0%, #f82f2f 82.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h1,
h2,
h3 {
  color: #141313;
}

h4,
h5,
h6 {
  color: #777777;
}

.pagination a {
  background: #777777;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.card a {
  color: #141313;
}

body {
  font-family: "Nunito" !important;
}

.p-link {
  color: blue;
}

.p-4 {
  display: block !important;
}

small span {
  color: darkblue;
  font-weight: bold;
}

